// Media query min:
$rwdTablet: 480px;
$rwdTabletLandscape: 768px;
$rwdLaptop: 1024px;
$rwdDesktop: 1280px;

// navbar
$navColor: #232425;
$navHeight: 8vh;
$navHeightMobile: 10vh;
// Basic
$background: #0f0f0f;
$borderColor: DarkViolet;
$borderColorHover: Violet;

/* For later re-usage
@media (min-width: $rwdTablet) {}
@media (min-width: $rwdTabletLandscape) {}
@media (min-width: $rwdLaptop) {}
@media (min-width: $rwdDesktop) {}
*/
